/* folder */
.foldContFlex {
  display: flex;

  .foldCont {
    position: relative;

    .foldBack,
    .foldFron {
      height: 80px;
    }

    .foldBack00,
    .foldFron00 {
      border-radius: 0 10px 10px 10px;
      width: 185px;
      height: 150px;
    }

    .foldBackCont {
      z-index: 0;

      div {
        background: #ffd54f;
      }

      .foldBack {
        border-radius: 10px 10px 10px 0;
        width: 200px;
      }
    }

    .fileCont {
      position: absolute;
      top: -3px;
      left: 10px;
      z-index: 1;

      .filePape {
        background: #fff;
        border: 1px solid #000;
        width: 180px;
        height: 220px;
      }
    }

    .foldFronCont {
      position: absolute;
      top: 0;
      z-index: 2;

      div {
        background: #ffd54f;
      }

      .foldFron {
        border-radius: 10px 10px 0 0;
        width: 175px;
      }
    }
  }

  .foldCont:hover {
    .fileCont {
      top: -13px;
      left: 150px;
    }
  }
}