* {
  margin: 0;
  padding: 0;
  outline: 1px dashed rgba(255, 0, 0, 0);
  transition: 1s;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 1em arial, sans-serif;
  position: relative;
}

nav {
  background: #212121;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  
  .dropdown {
    position: relative;
    
    .dropdownContent {
      background: #212121;
      border: 1px solid #000;
      width: 250px;
      position: absolute;
      top: 50px;
      left: -330px;
      
      .dropdownContent00 {
        padding-left: 25px;
      }
    }
  }
  
  .dropdown:hover {
    .dropdownContent {
      left: -68px;
    }
  }
  
  a {
    color: #fff;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
  }
  
  a:hover:not(.active) {
    background: #000;
  }
  
  .active {
    color: #000;
    background: #fff;
  }
}

header,
section,
footer {
  padding: 30px 60px;
}

header {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  p {
    margin: 8px 0;
  }

  p.definition {
    column-count: 3;
    column-gap: 30px;
    column-rule-style: solid;
  }

  pre.codingC {
    background: rgb(51, 51, 51);
  
    code {
      .preCom {
        color: rgb(185, 131, 85);
      }

      .preFil {
        color: rgb(126, 155, 107);
      }

      .com {
        color: rgb(112, 112, 112);
      }
    }
  }
}

footer {
  color: #fff;
  background: #000;
}

ul {
  margin: 8px 30px;
}